<<<<<<< HEAD
<!-- /templates/page.liquid -->
<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
=======
<div class="page">

  <div class="temporary-page-title">

    {{ page.title }}

  </div>

  {{ page.content }}

</div>

<style>

  .temporary-page-title {

    font: 100 23px/1.5 'AW Conqueror Didot', 'Didot', serif;
    border-bottom: 1px solid #333;
    text-transform: uppercase;

  }

  .page {

    font: 300 15px/22px 'Proxima Nova Condensed', 'Avenir Next Condensed', sans-serif;
    font-variant: normal;
    font-style: normal;
    text-align: center;
    margin: 3% 6%;

  }

</style>
>>>>>>> GitHub/master
