<div class="page">

  <div class="temporary-page-title">

    {{ page.title }}

  </div>

  {{ page.content }}

</div>

<style>

  .temporary-page-title {

    font: 100 23px/1.5 'AW Conqueror Didot', 'Didot', serif;
    border-bottom: 1px solid #333;
    text-transform: uppercase;

  }

  .page {

    font: 300 15px/22px 'Proxima Nova Condensed', 'Avenir Next Condensed', sans-serif;
    font-variant: normal;
    font-style: normal;
    text-align: center;
    margin: 3% 6%;

  }

</style>
